<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   autoReload="true">
  <extensions>
    <add assembly="NLog.Extended"/>
    <add assembly="StopRegionalLock.Common"/>
  </extensions>
  <variable name="logDirectory" value="${basedir}/logs/"/>
  <targets async="true">
    <target name="DefaultLogger"
        xsi:type="File"
        fileName="${logDirectory}/public.log"
        layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString,stacktrace:topFrames=100}"
        archiveAboveSize="3145728"
        archiveFileName="${logDirectory}archives/log.${shortdate}-{#####}.txt"
        maxArchiveFiles="20" />
  </targets>
  <!--targets async="true">
    <default-wrapper xsi:type="RetryingWrapper" retryCount="3" retryDelayMilliseconds="300" />
    <target name="Mailer"
        xsi:type="Mail"
        addNewLines="true"
        body="${newline}${message}${newline}${newline}Action DateTime: ${longdate}${newline}${aspnet-request-all}${newline}${exception:format=ToString,stacktrace:topFrames=100}"
        subject="(${machinename}) ${level:uppercase=true} - ${logger}"
        to="ivanoff.alex@gmail.com"
        from="logger@stopregionallock.com"
        smtpAuthentication="None"
        smtpServer="127.0.0.1" />
  </targets-->
  <rules>
    <logger name="*" minlevel="Info" writeTo="DefaultLogger" />
    <!--logger name="*" minlevel="Warn" maxlevel="Fatal" writeTo="Mailer">
      <filters />
    </logger-->
  </rules>
</nlog>